<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup"> 
    <div *ngIf="!contact.valid"> </div>

      <div class="form-group">
          <label for="firstName"> First name</label>
          <input  required 
                  ngModel 
                  required 
                  minlength="4" 
                  maxlength="10" 
                  pattern="banana"
                  name="primeiro nome " 
                  #firstName="ngModel" 
                  (change)="log(firstName)" 
                  id="firstName" 
                  type="text" 
                  class="form-control"> 
                 <div class="alert alert-danger" 
                        *ngIf="!firstName.valid && firstName.touched"> 
                   <div *ngIf="firstName.errors.required"> First name is required </div>
                   <div *ngIf="firstName.errors.minlength">Min lengh is {{firstName.errors.minlength.requiredLength}} </div>
                   <div *ngIf="firstName.errors.pattern">pattern is required </div>
                 </div>
                 
      </div>
  </div>
  
  <div class="form-group">
      <label for="comment">Comments</label>
     <textarea ngModel name="comentarios" id="comment" cols="30" rows="10" class="form-control"> </textarea>
</div>



<div>
    <input  #firstName="ngModel"  type="checkbox" ngModel name="inscrito">
</div>

<div class="for-group">
  <label for="contactMethod"> metodo contatos</label>
  <select ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option value=""></option>
  <option *ngFor="let metodo of contactMethods" [ngValue]="metodo">{{metodo.name}}</option>
</select>
</div>

<div *ngFor="let radio of radios" class="radio">
  <label >
    <input ngModel type="radio" name="radio" [value]="radio.id">
    {{radio.name}}
  </label>
</div>   
<br>

<div > {{f.value | json}}</div>
<br> 


<button  class="btn btn-primary" [disabled]="!f.valid" >Submit</button>

</form>